---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="An brief introduction about me"
  pubDate={new Date("April 20 2024")}
>
  <p>Hello I'm Bloom! I'm an gay furry, but as frontend developer.</p>

  <p>
    Been creating some apps with different languages and frameworks. But my
    favorite one is Astro, Solid.js.
  </p>

  <p>
    My favorite code editor is VSCode, but I'm finding for another one like
    Fleet or Helix.
  </p>
</Layout>
