---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello!</h1>
      <p>
        Welcome to my blog, where I write about web development and other, and also
        it was rewritten once again.
      </p>
      <p>
        This template is built with <a href="https://astro.build/">Astro</a> (again), as
        an starter template for a blog.
      </p>
    </main>
    <Footer />
  </body>
</html>
